
<div class="pageWrapper">
	<link rel="stylesheet" type="text/css" href="./css/basicinfo.css"/>
	
	<div class="pageContent">
		<div class="content">
			<h3 class="header">Profile</h3>
			<table class="table table-bordered table-striped">
				<tr><th>NAME</th><td>Keyang Xiang</td><td></td></tr>
				<tr><th>AGE</th><td>26</td><td></td></tr>
				<tr><th>WORK YEAR</th><td>2007-2009 &amp; 2010-Now</td><td><div class="more" data-item="workexperience"></div></td></tr>
				<tr><th>EDUCATION</th><td>Master (Level 9)</td><td><div class="more" data-item="education"></div></td></tr>
				<tr><th>ADDRESS</th><td>40 Cluain a Loai, Cork Road, Waterford, Ireland</td><td><div class=""></div></td></tr>
				<tr><th>TEL</th><td>+353876898229</td><td><div class=""></div></td></tr>
				<tr><th>EMAIL</th><td><a href="mailto:keyang.xiang@gmail.com">keyang.xiang@gmail.com</a></td><td><div></div></td></tr>
				<tr><th>WEBSITE</th><td><a href="http://keyangxiang.com">http://keyangxiang.com</a></td><td><div></div></td></tr>
				<tr><th>E-CV</th><td><a href="http://cv.keyangxiang.com">http://cv.keyangxiang.com</a></td><td><div></div></td></tr>
			</table>
		</div>
	</div>

</div>