<link rel="stylesheet" type="text/css" href="./css/cover.css"/>
<div class="bg fullscreen">
    <div class="front boxsize">
        <div class="cv">
           <img src="./images/cover/balls.png"/>CURRICULUM VITAE
        </div>
        <div class="myprofile">
           <img src="./images/cover/myprofile.jpg" class="profile"/><span>Keyang Xiang</span>
        </div>
        <div class="hozbelt">
            
        </div>
        <div class="verbelt">
            
        </div>
        <div class="copyright">
            &copy; 2012 Developed by Keyang Xiang. <span class="versionwrapper">Version: <?mvc echo (mvc.opt.cfg.version);?></span>
        </div>
    </div>
</div>
