<div class="pageWrapper">
	<link rel="stylesheet" type="text/css" href="./css/education.css"/>
	<div class="pageContent">
		<div class="content">
		<div class="navwrapper">
		    <ul class="nav nav-pills">
			    <li class="active"><a href="#tab1" data-toggle="tab">Master</a></li>
			    <li><a href="#tab2" data-toggle="tab">Bachelor</a></li>
		    </ul>
		</div>
		    <div class="tab-content">

			    <div class="tab-pane active" id="tab1">
			    	<div class="left column boxsize">
			    	<h3 class="schoolName">University of Limerick</h3>
			   	 	<table class="table table-bordered table-striped">
			   	 		<tr><th>Studying Year</th><td>2009 - 2010</td></tr>
						<tr><th>College Name</th><td>University of Limerick</td></tr>
						<tr><th>Course Name</th><td>Software Engineering</td></tr>
						<tr><th>Main Courses</th><td><ul>
							<li>Software Requirement</li>
							<li>Software Design</li>
							<li>Software Development Paradigms</li>
							<li>Software Engineering Quality</li>
							<li>Human Computer Interaction</li>
							<li>Software Architecture</li>
						</ul></td></tr>
						
					</table>
					</div>
					<div class="right column boxsize">
						<table class="table table-bordered table-striped">
							<tr><th>Final Thesis</th><td>The Clarification and Implementation of Behaviour Driven Development: an Iterative Tool Kits Study Approach</td></tr>
							<tr><td colspan="2">
								<p>Test Driven Development (TDD) is one of the most popular approaches used by developers. However, TDD also confuses TDD practitioners. In order to eliminate the confusion, Dan North introduced Behaviour Driven Development (BDD) which evolves from TDD. BDD combines the concepts of TDD, ubiquitous language, and acceptance testing so that developers are more convinced with tests they have written. However, BDD is an approach not only for developers but also for customers. It provides an iterative decomposition approach to help customers and developers to analyse requirement. This thesis specified concepts and features of BDD and outputted a BDD model.
								</p>
								<p>Besides, there are more than 40 BDD tool kits nowadays. Different tool kits support different BDD features. It is hard for developers to pick right tool kit. What is more, not all BDD features have been supported perfectly since the concept of BDD is not clear. This thesis clarified those BDD features and concepts.</p>
							</td></tr>
						</table>
					</div>
			    </div>
			    <div class="tab-pane" id="tab2">
			   	 <div class="left column boxsize">
			    	<h3 class="schoolName">South China University of Technology</h3>
			   	 	<table class="table table-bordered table-striped">
			   	 		<tr><th>Studying Year</th><td>2003 - 2007</td></tr>
						<tr><th>College Name</th><td>South China University of Technology</td></tr>
						<tr><th>Course Name</th><td>Mathematics and Applied Mathematics(Computer science related)</td></tr>
						<tr><th>Main Courses</th><td><ul>
							<li>Geometry</li>
							<li>Topology</li>
							<li>C++</li>
							<li>Object Oriented Programming</li>
							<li>Abstract Algebra</li>
							<li>Data Struct</li>
							<li>Mathematic Analysis</li>
							<li>Physics</li>
							<li>Network</li>
							<li>Database</li>
						</ul></td></tr>
						
					</table>
					</div>
					<div class="right column boxsize">
						<table class="table table-bordered table-striped">
							<tr><th>Final Thesis</th><td>Community First Aid Alarm System Based On GIS.(CFAS)</td></tr>
							<tr><td colspan="2">
								<p>CFAS helps patients call for help and alarm nearest registered hospital while a sudden attack happens to the patients. User (patient) can use mobile devices or special equipment (wireless trigger) sends an emergency signal to nearest hospital through landline, internet or GSM based on conditions. The registered hospital will automatically alarm and print related information (i.e. Details of the patient, directions on the map from hospital to patient’s resident, related medical history).
								</p>
								<p>The reason for this system is mainly because for most dangerous disease, patients cannot move or even speak before they have not lost conscious. This system will provide simple trigger for them to send a signal requesting help.</p>
							</td></tr>
						</table>
					</div>
			    </div
			    </div>
		    </div>
	    </div>
	</div>
</div>